html {
    --text: #ffffff;
    --background: #000000;
    --primary: #79fbd0;
    --secondary: #ff9da5;
    --accent: #ff57ae;
}

ul,
li {
    color: var(--accent)
}

.backAndHomeBtn *{
color:var(--accent);
display: flex;
align-items:flex-end;
}

.backAndHomeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex; 
    gap: 10px;
    align-items: flex-start; 
}

body:not(.backAndHomeBtn){
    color: var(--text);
    background: var(--background);
}

h1,
h3 {
    color: var(--secondary);
    font-family: "fugaz one";
    font-variant: small-caps;
    font-weight: 100;
    font-style: oblique;
}

h2 {
    color: var(--accent);
    font-family: "fugaz one";
    font-variant: small-caps;
    font-weight: 100;
    font-style: oblique;
    border: var(--primary) 30px;
    padding-right: 10px;
    margin-left: 10px;
}

h1 {
    text-decoration: wavy underline var(--primary);
}

audio {
    border: 10px solid var(--primary);
    padding: 2px;
    border-radius: 40px;
}

a:link {
    color: hotpink 
}

ul,
ol {
    color: var(--secondary);
    font-family: "lexend";
    font-weight: 200;
}

p {
    color: var(--text);
    font-family: "lexend";
    font-weight: 200;
    margin: 10px
}

img {
    padding: 5px;
    border: 8px solid var(--primary);
    border-radius: 8px;
}